body{
  background: rgb(245, 234, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
  color: darkviolet;
}

#body-container {
  border: 5px solid rgb(104, 1, 117);
  padding: 25px;
  display: block;
}

#title-container {
  border: 3px solid darkviolet;
  padding: 10px;
  margin-left: 25%;
  margin-right: 25%;
  display: block;
  text-align: center;
  background-color:#f5e0ff;
}

/* ATTEMPT AT USING FLEXBOX STUFF */

.content-wrapper {
  display: flex;
}

.paragraph-container {
  border: 3px solid darkviolet;
  padding: 15px;
  margin: 10px;
  text-align: left;
}

.link-container {
  display: inline-flex;
  align-items: center;
}

hr{
  border-top: 3px solid darkviolet;
}

h1 {
  color: darkviolet;
  text-align: center;
  margin: 0;
}

h2, h3{
  color: rgb(130, 2, 185);
  text-align: center;
}

p{
  color: rgb(54, 0, 77);
  text-align: center;
}

nav {
  text-align: center; 
}

nav a {
  color: darkviolet;
  padding: 5px 20px;
  background: #f5e0ff;
  border: 2px solid darkviolet;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}


nav a:hover{
  color: #f5e0ff;
  background: darkviolet;
}

img{
  width: 40%;
  border: 3px solid darkviolet;
  margin: 10px;
}

ul{
  list-style-type: square;
  color:rgb(54, 0, 77);
  background-color:darkviolet;
}

