body{
  background-color: bisque;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

iframe{
  width: 90%;
  height: 700px;
  border: none;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  display: block;
}

h1{
  text-align: center;
  font-size: x-large;
  color: darkslategrey;
  margin-top: 35px;
  align-items: center;
}

h2{
  text-align: center;
  font-size: larger;
  color: darkslategrey;
  margin-top: 25px;
}